<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MainWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>iWidget.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>31170D0624A4494700557117</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31170D1724A4494900557117</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31170D2224A4494900557117</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31170D3924A44BCD00557117</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
